body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.ui.menu,
.ui.text.container {
    font-family: 'Roboto', sans-serif;
}

#root {
    flex: 1;
}

#footer {
    flex: 0;
}

.app-header {
    background: linear-gradient(160deg, #32067c, #150233) !important;
}

.ui.inverted.menu {
    border-radius: 0;
    background: transparent;
}

.ui.text.inverted {
    color: rgba(255, 255, 255, 0.71)
}

.vertical-text {
    writing-mode: vertical-rl;
    white-space: nowrap;
    position: relative;
    left: -9px;
}

.vertical-text br {
    display: none
}

.person.segment {
    max-width: 250px;
    margin: 0 auto;
    font-size: 80%;
}

